.mapa{
    width:100%; 
    height:100%; 
    margin:0;
    z-index: 0;
    background: #242426;
    position: relative;
}

.example {
    position: absolute;
    display: inline-block;
    z-index: 2;
    width: 200px;
    border: 1px solid #ddd;
    top: 100px;
    left: 170px;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(195, 195, 195, 0.6);
}

.tabla{
    position: absolute;
    bottom: 20px;
    left: 170px;
    display: table;
    color: rgba(255, 255, 255, 0.8); /* Color de letra */
    text-align: center;  
    font-weight: bold;  
    font-size: larger; 
    z-index: 1;
    width: 300px;
}

.titulo{
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

.encabezados{
    display: table-row;
    background: rgba(195, 195, 195, 0.6); /* Color de fondo */
    font-weight: bold;
    text-align: center;

}

.fila{
    display: table-row;
    background: rgba(195, 195, 195, 0.3); /* Color de fondo */
    font-size: 12px;
}

.celda{
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;  
}

.ol-popup {
    position: absolute;
    background-color: #494A4B;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    border-radius: 10px;
    
    bottom: 12px;
    left: -50px;
}
.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}
.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}
.ol-popup-content {
    position: relative;
    min-width: 300px;
    min-height: 50px;
    height: 100%;
    max-height: 250px;
    padding:2px;
    white-space: normal;        
    background-color: #494A4B;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 10px;

}
.ol-popup-content dl,dd,li.li_popup{
    font-size: 14px;
    padding: 2px 4px;
    color: #FFFFFF;
    margin-top: 0px;
    font-family: 'Roboto', sans-serif;
}

li{
  font-size: 14px;
}

.ol-popup-closer {
    position: absolute;
    top: 0px;
    right: 3px;
    font-size: 100%;
    color: #0088cc;
    text-decoration: none;
}
a.ol-popup-closer:hover{
    color: #005580;
    text-decoration: underline;
}

.popover-title {
    color: #F7DB34;
    padding: 8px 14px;
    margin: 0;
    margin-top: -17px;
    margin-bottom: 0px;
    font-size: 14px;
    background-color: #494A4B;
    text-decoration: underline;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700; 
}

.ol-zoom {
    top: 19.0em;
    left: .5em;
}

ul{
  list-style-type: circle;
  padding-left: 30px;
  margin-top: 5px;
}

/* Para las opciones */

.opcionesVisualizacion{
    color: rgba(255, 255, 255, 1); /* Color de letra */
    position: absolute;
    z-index: 3;
    top: 40px;
    left: 130px;
}

.opcionesPuntos{
    color: rgba(255, 255, 255, 1); /* Color de letra */
    position: absolute;
    z-index: 4;
    top: 40px;
    left: 530px;
}

/* Para desplegar el acordion en cada item de los popups */

.accordion{
    cursor: pointer;
    outline: none;
    transition: 0.4s;
}

.accordion.active, .accordion:hover{
    background-color: rgba(0,60,136,.7); 
}

.contenido{
    display: none;
}

.contenido.show{
    display: block !important;
}

/* De aca en adelante es todo del boton para filtrar por hora */

.toggle-box {
  display: none;
}

.label1{
  position: :absolute;
  top: 100px;
  left: 20px;
}

.toggle-box + label {
  color: rgba(255,255,255,0.8);
  cursor: pointer;
  display: block;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 5px;
}

.toggle-box + label + div {
  display: none;
  margin-bottom: 10px;
}

.toggle-box:checked + label + div {
  display: block;
}

.toggle-box + label:before {
  
  background-color: #4F5150; /* Color del circulo*/
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: #FFFFFF; /* Color del + */
  content: "+"; /* Simbolo*/
  display: block;
  float: left;
  font-weight: bold;
  height: 20px;
  line-height: 20px;
  margin-right: 5px;
  text-align: center;
  width: 20px;
}

.toggle-box:checked + label:before {
  content: "\2212";
}


ol-zoomslider{
margin-top: 30px !important;

}